<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.crash.projetointegrador">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.tads.projetointegrador.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Declaracao da Activity da tela de  cadastro -->
        <activity android:name="com.example.tads.projetointegrador.Cadastro"
            android:label="Cadastro "
            ></activity>

        <!-- Declaracao da Activity da tela de cadastro -->
        <activity
            android:name="com.example.tads.projetointegrador.Consulta"
            android:label="Consulta "
            android:parentActivityName="com.example.tads.projetointegrador.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tads.projetointegrador.MainActivity" />
        </activity>

    </application>

</manifest>